@media (max-width: 991px) {
    nav {
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
        width: 100%;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    .nav-item {
        margin-left: 20px;
        margin-top: 5px;
    }
    nav .action_btns{
        margin-left: 20px;
    }
    #banner_part .button_primary {
        margin-bottom: 20px;
    }
    #banner_part {
        margin-left: 10px;
    }
    #banner_part .left-side h1 {
        font-size: 37px;
        margin-top: 20px;
    }
    #banner_part .img-fluid {
        max-width: 80%;
        margin-top: -65px;
        margin-bottom: 10px;
    }
    #cmp_details .headings h3 {
        font-size: 29px;
    }
    #our_clients .headings {
        margin-top: 30px;
    }
    #our_clients .brands {
        margin: auto;
        margin-top: 20px;
    }
    #our_clients .brands img {
        padding: 10px 0;
    }
    #cmp_details .col-lg-4 img {
        margin-top: 10px;
    }
    #paragraph h3 {
        font-size: 29px;
        text-align: center;
    }
    #paragraph p {
        font-size: 14px;
        text-align: center;
    }
    #paragraph .learnmore {
        text-align: center;
        margin-bottom: 25px;
    }
    #comp_details .hed h4 {
        font-size: 33px;
    }
    #comp_details .icons .texts {
        margin-left: 11px;
    }
    #comp_details .bg_cont {
        height: 100%;
    }
    #blog_part {
        margin-top: 604px;
    }
    #blog_part .main_cnt {
        margin-bottom: 110px;
    }
    #big_add h2 {
        font-size: 43px;
    }
    #footer input {
        margin-bottom: 20px;
    }
    #blog_part .texts_all {
        left: 42px;
    }
}
